/* General styles */
body {
    font-size: 15px; 
    line-height: 10px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;  
    text-transform: uppercase;
    color: white;
    background-image: url(../img/background-image.jpg);
}
.main-header {
    background-color: black;
}
.main-navigation {
    float: left;
    width: 710px;
    min-height: 70px;
}
.logo {
    float: left;
    margin-top: 23px;
    padding-left: 25px;
}
.navigation-list {
    float: left;
    margin-top: 30px;
    font-size: 0;
}
.navigation-list li {
    display: inline;
    margin-left: 20px;
    list-style-type: none;
}
.navigation-link {
    font-size: 15px; 
    line-height: 10px;
    font-weight: 10px;
    color: white;
    text-decoration: none;
}
.user-block {
    float: right;
}
.user-block .login {
    display: block;
    width: 70px;
    height: 40px;
    padding-top: 30px;
    padding-left: 40px;
    color: white;
    text-decoration: none;
}
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto; 
}

/* index page */

.index-logo {
    width: 368px;
    min-height: 204px;
    margin: 0 auto;
    margin-top: 60px;
}
.features {
    margin-top: 20px;
    margin-bottom: 45px;
}
.features-item {
    float: left;
    width: 300px;
    min-height: 140px;
}
.features-item:nth-child(2),
.features-item:nth-child(3) {
    margin-left: 30px;
}
.feature-name {
    display: block;
    text-align: center;
    font-size: 21px;
}
.feature-name:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    transform: rotate(45deg);
}
.feature-description {
    width: 300px;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
}
.select-description {
    width: 280px;
    margin: 0 auto;
    margin-top: 14px;
}
.index-content {
    margin-top: 35px;
    padding: 50px 80px;
    color: black;
    background-image: url(../img/pattern-1.jpg);
}
.index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
}
.index-content-title {
    margin: 0;
}
.news-preview {
    
}
.news-description {
    list-style: none;
}
.news-description  p {
    display: block;
}
.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
}

/* catalog page */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
} 
.catalog-tittle {
    width: 310px;
    min-height: 40px;
    padding-top: 5px;
    margin-left: 10px;
}
.pages-nav-box ul {
    min-width: 319px;
    margin-top: 28px;
    padding-left: 10px;
}
.breadcrumbs li {
    margin-right: 15px;
    display: inline;
    list-style-type: none;
}

.sidebar-filter {
    float: left;
    width: 229px;
    min-height: 590px;
}
fieldset {
    border: none;
}
.manufacturers {
    min-height: 270px;
}
.product-groups {
min-height: 190px;
margin-top: 55px;
}
.submit {
    margin-top: 35px; 
    margin-left: 20px;
}
.items {
    float: right;
    width: 730px;
    min-height: 620px;
}
.item-container {
    width: 220px;
    min-height: 285px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
.pagination {
    float: left;
    margin-top: 45px;
    margin-bottom: 49px;
    margin-left: 240px;      
}
.pagination-list li {
    margin: 10px;
    display: inline-block;
    list-style-type: none; 
}
.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  outline: 2px solid red;
}

.footer-contacts {
  float: left;
  width: 330px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
    
/* catalog item page */

.catalog-item-tittle {
    padding: 5px;
}
.pages-nav-container ul {
    margin-top: 28px;
    padding-left: 10px;
}
.gallery {
    float: left; 
    width: 460px;
    margin-top: 40px;
    margin-bottom: 45px;
}
.main-image {
    
}
.small-images {
    
}
.gallery-description {
    float: right;
    width: 405px;
    min-height: 540px;
    margin-top: 100px;
    margin-right: 20px;
}
.availability {
    float: left;
    width: 110px;
}
.series-of-article {
    float: right;
    width: 140px;
}
.item-description {
    margin-top: 35px;
}
.offer {
    width: 205px;
    margin-top: 30px;
}
.price-container {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.buy-container {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.tittle-of-product-options {
    width: 175px;
    margin-top: 30px; 
}
.product-list {
    width: 255px;
    padding-left: 15px;
}